div {
  padding: 0;
}

body {
  background-color: #d5dae2 !important;
}

#app {
  padding: 0;
  box-sizing: border-box;

  .dewsControl {
    cursor: pointer;
  }

  .main-designer-wrapper, .navigation-bar-wrapper, .button-tab-bar {
    transition: all 0.5s ease;
    animation: fadein 2s;
  }

  .ui-selectable-helper {
    display: none;
  }

  .ui-resizable-handle {
    background-color: rgba(0,0,0,.75);
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }

  .ui-resizable-s, .ui-resizable-e {
    background-color: #dc3545;
  }

  .ui-resizable-n, .ui-resizable-w, .ui-resizable-ne,
  .ui-resizable-se, .ui-resizable-sw, .ui-resizable-nw {
    cursor: not-allowed;
  }

  .ui-resizable-se {
    bottom: -5px;
    right: -5px;
  }
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.gu-mirror {
  display: inline-flex;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
