@import 'node_modules/@dews/dews-mobile-style/scss/variables/variables';
@import 'node_modules/@dews/dews-mobile-style/scss/mixins/_mixins';
@import '_mixins';

* {
  @include reset();
}

body {
  background-color: #d5dae2 !important;
}

//app common
#app {
  .dews-control-list {
    cursor: pointer;
  }

  .main-designer-wrapper,
  .navigation-bar-wrapper,
  .button-tab-bar {
    transition: all 0.5s ease;
    animation: fadein .5s;
  }

  .ui-selectable-helper {
    display: none;
  }

  .ui-icon {
    background-image: none;
  }

  .dews-mobile-component {
    position: relative;
  }

  .dews-control-handle {
    position: absolute;
    z-index: 80;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #575757;
  }

  .handle-n {
    top: -5px;
    left: 0;
  }

  .handle-e {
    top: 0;
    right: -5px;
  }

  .handle-s {
    bottom: -5px;
    left: 0;
  }

  .handle-w {
    top: 0;
    left: -5px;
  }

  .handle-ne {
    top: -5px;
    right: -5px;
  }

  .handle-se {
    bottom: -5px;
    right: -5px;
  }

  .handle-sw {
    bottom: -5px;
    left: -5px;
  }

  .handle-nw {
    top: -5px;
    left: -5px;
  }

  .button-tab-bar {
    .dews-control-handle {
      background-color: #393939;
      width: 5px;
      height: 5px;
    }

    .ui-resizable-handle {
      cursor: default;
    }
  }
}

//moving
.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.gu-mirror {
  display: inline-flex;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

//context menu
.context-menu-list {
  z-index: 100 !important;

  //context-menu 아이콘 (16 X 16)
  .context-menu-icon {
    background-position-x: 9px;
    background-position-y: 7px;
    //삭제 버튼
    &.context-menu-icon-ic-delete {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAINJREFUOBFjYKAQMGLT3zjv5AUGRgZ9ZLn/DAwXGhLNDZHFcLIb558EqkcF2MRAKuAuANr6AcjjR9WGg/ef4WN9krkAhiwuW5AVoqthQpYkh43TAGSbkNnoluA0AF0hLv6oAWghgy+0YUrR1VAciCwwk0H0//8Mreg2IMvD1KCLUcQHAH8CK0Xb4NeCAAAAAElFTkSuQmCC);
    }

    //세로 분할
    &.context-menu-icon-ic-split {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAKNJREFUOBFjYBhowAhyQMO8ky2MjAzVMMf8/8/Q2pBkXtMw8wxXQ7rJN1zyIPVgAxrnn/xfn2gOZoMEQfz/v5hFGZh+5/xk/j2Vg5H9Fbo8jM8C0oANsDAzcf9lZpZiZ2DgxiYPE2OCMcilRw1gYBjEYfDn77+v///8fcbw49M3fFEMTkigpAtKfTCF4KScbvKmYer+noZs9y/ApIwhD1M78DQADUpHWlFsiboAAAAASUVORK5CYII=);
    }
  }
}

//control list
body {
  background-color: #d5dae2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.controlList-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  min-height: 852px;
  color: #000000;
  background-color: #f3f6fa;
}

.controlList-mobile-layout {
  display: flex;
  flex-wrap: nowrap;

  .mobile-layout {
    flex: 0 0 50px;
    height: 36px;

    button {
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: center;
      cursor: pointer;
    }

    &.off {
      background-color: #4e5c7b;

      .smartPhone-image {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAAXnVPIAAAASUlEQVQ4EWNgGHTg////F4AYFzhP0MEgnbgUYZNjwqWYWPFRAxgYBj4MWLBFF7b4xqYOJEbIC4pANSBMPADaji8pXyDeJHqpBABsbktOzkcElwAAAABJRU5ErkJggg==);
      }

      .tabletM-image {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAAXnVPIAAAASklEQVQ4EWNggIL///9fAGJiwXmYPjgN0gnnEGAgq2UioJag9KgBDAyjYTAYwoAFOa0ip3FkcXxsQtGoCNQMwoQB0HZSsvMFmIkAQnFrNpWqZUIAAAAASUVORK5CYII=);
      }

      .tabletL-image {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAAXnVPIAAAARUlEQVQ4EWP8////BQYGBn0gJgdcYAAa8J8cnSA9IL1M5GqG6Rs1gIFhNAwGQxgwUpIXQMmZUDQqAtWAME4AcgEl2fkiAOTtFeukJYGHAAAAAElFTkSuQmCC);
      }
    }

    &.on {
      background-color: #35425f;

      .smartPhone-image {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAAXnVPIAAAAX0lEQVQ4EWNgGGjAiO6AgMN/LwDF9NHFofwLG2yZDXHIQYSBBvzHpQCbHBMuxcSKjxrAwDDwYcCCLbqwxTc2dSAx/F5gYVJkAGE8AJsBF+Hq//y7zwDCCICQQ4gNMAsASfsV5+Q/z8sAAAAASUVORK5CYII=);
      }

      .tabletM-image {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAAXnVPIAAAAWUlEQVQ4EWNkgIKAw38vAJn6MD4B+sIGW2ZDFDVAA/6jCODhIKtlwqOOKKlRAxgYRsNgMIQBC3J6RU7jyOL42PijkYVJkQGE8QBkAy5iqPvz7z4DCGMCuFoAsXcV7yVkiOMAAAAASUVORK5CYII=);
      }

      .tabletL-image {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAAXnVPIAAAATklEQVQ4EWMMOPz3AgMDgz4QkwMuMAAN+E+OTpAekF4mcjXD9I0awMAwGgaDIQwYKckLoOSMPxpZmBQZQBgPABlwEaf8n3/3GUAYN7gIAJC9FMuG9rVhAAAAAElFTkSuQmCC);
      }
    }
  }

  .mobile-image {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    outline: 0;

    display: block;
    width: 100%;
    height: 100%;

    span {
      position: absolute;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
    }
  }
}

.control-list {
  .control-list-wrapper {
    margin-bottom: 1px;

    .control-header {
      position: relative;
      width: 100%;
      height: 30px;
      padding: 5px 6px 6px 10px;
      background-color: #bfccdd;
      cursor: pointer;

      .header-title {
        width: 100%;
        height: 100%;
        color: #4f5565;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        letter-spacing: -0.33px;
        text-align: left;
      }

      .header-arrow {
        position: absolute;
        top: 7px;
        right: 6px;
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxnPgogICAgICAgIDxwYXRoIGZpbGw9IiM0ZjU1NjUiIGQ9Ik0zLjY0Ni4zNTRhLjUuNSAwIDAgMSAuNzA3IDBsMi43OTMgMi43OTJBLjUuNSAwIDAgMSA2Ljc5MyA0SDEuMjA3YS41LjUgMCAwIDEtLjM1NC0uODU0eiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM5MSAtMTQ1KSByb3RhdGUoMTgwIDIwMS41IDc3LjUpIi8+CiAgICA8L2c+Cjwvc3ZnPgo=);
      }

      &.not-collapsed {
        .header-arrow {
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAAXnVPIAAAAW0lEQVQ4EWNgGAWDPAT8QlMn+IWk9ONzJjMuSaDGBYyMjOlAbKGhbaxw89q5jdjUYjUAqjkeSYMBLkMYkRSBmQGhqQb/GRjOo4uD+EDFhhtWz76ATW5UbCBDAAAP0hVgqGYaXgAAAABJRU5ErkJggg==);
        }
      }

      &:hover {
        background-color: #a4b7d1;
      }

      &:focus {
        outline: 0;
      }
    }

    .control-content {
      padding: 6px;
      background-color: #f3f6fa;

      .dews-control-list {
        @include dews-control-list();
      }
    }
  }
}

.dews-control-list.gu-transit {
  @include dews-control-list();

  width: 138px;
  box-shadow: 0 2px 5px 0 rgba(153, 166, 183, 0.7);
  border: 1px solid #acc0d8;
  background-color: #c7d6e8;

  &:hover:not(:active) {
    border: 1px solid #acc0d8;
    background-color: #c7d6e8;

    .title {
      color: #000000;
    }
  }

  @include dews-control-list-icon();
}

.fade {
  transition: opacity 0.15s linear;

  &:not(.show) {
    opacity: 0;
  }
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  transition-timing-function: linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
  .collapsing {
    transition: none;
  }
}

// vue 제외된 dews-mobile-style
.form-field {
  @include clearfix();

  display: flex;
  flex-wrap: wrap;

  > li {
    float: left;
    width: 100%;
    padding-top: 16px;
  }
}

//search container
.dews-search-field{
  padding: 0 17px 0;
  @include form-field();

  .dews-mobile-searchContainer[col='2'] & {
    @include form-field(2);
  }
}