div {
  padding: 0;
}

#app{
  padding: 0;

  .controlName {
    display: inline-block;
    height: 45px;
    color: black;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 100px;
    border: 2px solid #ececec;
    background: darkgray;
    transition: all .5s ease;
    font-size: 14px;
    cursor: pointer;
  }

}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  padding: 1em;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.gu-mirror {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
